{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<br>
<section>
    <div class="container">
        <div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">Contact Me</li>
            </ol>
            <div class="col-12">
               <h3>Contact Me</h3>
               <hr>
            </div>
        </div>
    </div>
</section>

<div class="container border p-3 mb-3 bg-light text-dark">
    <br>
    <div class="form-control">
        <h3>Send us your Feedback</h3>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group row mt-8">
                <div class="col-md-6 mb-0">
                    {{ form.first_name|as_crispy_field }}
                </div>
                <div class="col-md-6 mb-0">
                    {{ form.last_name|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row mt-8">
                <div class="col-md-4 mb-0">
                    {{ form.subject|as_crispy_field }}
                </div>
                <div class="col-md-4 mb-0">
                    {{ form.company|as_crispy_field }}
                </div>
                <div class="col-md-4 mb-0">
                    {{ form.email|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row mt-8">
                {{ form.message|as_crispy_field }}
            </div>

            <div class="row">
                <button type="submit" class="btn btn-warning">Submit</button>
            </div>
        </form>
    </div>
</div>

<section>
    <div class="row row-content">
        <div class="col-12">
            <h3>Location Information</h3>
        </div>
        <div class="col-12 col-sm-4 offset-sm-1">
            <h5>My Address</h5>
            <address>
                Parcela 10, Km camino Chillán - Huape<br>
                    Chillán, Ñuble<br>
                  Chillán<br>
                <i class="fa fa-phone"></i>: +56 9 5629 1334<br>
                <i class="fa fa-envelope"></i>: <a href="maaferna@gmail.com">maaferna@gmail.com</a>
            </address>
        </div>
        <div class="col-12 col-sm-6 offset-sm-1">
            <h5>Map of our Location</h5>
        </div>
        <div class="col-12 col-sm-11 offset-sm-1">
            <div class="btn-group" role="group">
                <a role="button" class="btn btn-primary" href="tel:56956291334"
                   data-toggle="tooltip" data-html="true" title="Or Call me at <br><strong>+56 9 5629 1334</strong>" data-placement="bottom"><i class="fa fa-phone"></i>Call</a>
                <a role="button" class="btn btn-info"><i class="fa fa-skype"></i>Skype</a>
                <a role="button" class="btn btn-success" href="maaferna@gmail.com"><i class="fa fa-envelope-o"></i>Email</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}