{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="container p-3 text-center text-white">
            <div class="row">
                <div class="col col-sm-8 col-xs-12">
                    <h1 class="mb-3 display-4 mt-5">Proyecto Vehiculos</h1>
                </div>
                <div class="col">
                     <img class="rounded-circle" style="width: auto; height: 195px; padding-left: 0px;  padding-right: 0px; margin-top: 10px;" src="https://portfolio-mparraf.herokuapp.com/static/img/favicon.ico" alt="brand image" />
                </div>
            </div>
            <div class="row">
                <p class="d-none d-sm-block show-read-more p-3 mt-5">Here a description of this project</p>
            </div>
        </div>
    </div>
</div>

    
{% endblock %}
